
@charset "utf-8";

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOsXLWAar99i7hx6j7ck5MfSLtC8Zx999vJ2cn2uwjDIAlvaXHbfmJYhQUlnzX_A_zOiI&usqp=CAU");
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 192, 21);
    color: rgb(89, 81, 165);
    
}

h1 {
    border-radius: 200px;
    padding: 18px;
    box-shadow: 150px;
    border: 0;
    background-color: rgb(69, 97, 63);
    top: 0;
    color: aliceblue;
    
}

#snake {

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREL4DsCSote6UNGMl1jKhtQqRRdb7fTnKucw&usqp=CAU");

}
